<div class="account-pages my-5 pt-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card overflow-hidden">
          <div class="bg-primary">
            <div class="text-primary text-center p-4">
              <h5 class="text-white font-size-20">Welcome Back !</h5>
              <p class="text-white-50 mb-4">Sign in to continue to HTS.</p>
              <a href="/" class="logo logo-admin">
                <img src="/images/htson-sm.png" height="24" alt="logo">
              </a>
            </div>
          </div>

          <div class="card-body p-4">
            <div class="p-3">
              <form class="form-horizontal mt-4" action="/login" method="post" id="loginForm">
                <input type="hidden" name="_csrf" value="<%= _csrf %>">
                <div class="form-group">
                  <label for="email">Email <span class="text-danger">*</span></label>
                  <input type="email" class="form-control" id="email" name="email" placeholder="Nhập địa chỉ email" required>
                </div>

                <div class="form-group">
                  <label for="userpassword">Password <span class="text-danger">*</span></label>
                  <input type="password" class="form-control" id="password" name="password" placeholder="Nhập mật khẩu" required>
                </div>
                <div class="form-group row">
                  <div class="col-sm-6">
                    <!-- <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="rememberMe" name="remember">
                      <label class="custom-control-label" for="rememberMe">Lưu đăng nhập</label>
                    </div> -->
                  </div>
                  <div class="col-sm-6 text-right">
                    <button class="btn btn-primary w-md waves-effect waves-light" type="submit" id="loginBtn">Log In</button>
                  </div>
                </div>

                <div class="form-group mt-2 mb-0 row">
                  <div class="col-12 mt-4">
                    <!-- <a href="lay-lai-mat-khau"><i class="mdi mdi-lock"></i> Quên mật khẩu?</a> -->
                  </div>
                </div>

              </form>
            </div>
          </div>

        </div>
        <div class="mt-5 text-center">
          <p>Don't have an account ? <a href="register" class="font-500 text-primary"> Signup now </a> </p>
          <p>© <%= thisYear %> Stock Info - Crafted with <i class="mdi mdi-heart text-danger"></i> by
            HTS.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<%- contentFor('customScripts') %>