<%- contentFor("content") %>

<div class="d-flex flex-column justify-content-center align-items-center" style="height:100vh;">
  <div>
    <h1><%= greeting %> NodeJS MVC Framework</h1>
  </div>
  <div>
    <a href="https://github.com/dukinfotech/nodejs-mvc" target="_blank" class="btn btn-success">View docs</a>
    <form action="/logout" style="display: inline;" method="POST">
      <input type="hidden" name="_csrf" value="<%=csrfToken%>">
      <button class="btn btn-danger">Logout</button>
    </form>
  </div>
</div>