<div class="dropdown-menu dropdown-menu-right">
  <!-- item-->
  <a href="javascript:void(0);" class="dropdown-item notify-item">
    <img
      src="/images/flags/germany_flag.jpg"
      alt="user-image"
      class="mr-1"
      height="12"
    />
    <span class="align-middle"> German </span>
  </a>

  <!-- item-->
  <a href="javascript:void(0);" class="dropdown-item notify-item">
    <img
      src="/images/flags/italy_flag.jpg"
      alt="user-image"
      class="mr-1"
      height="12"
    />
    <span class="align-middle"> Italian </span>
  </a>

  <!-- item-->
  <a href="javascript:void(0);" class="dropdown-item notify-item">
    <img
      src="/images/flags/french_flag.jpg"
      alt="user-image"
      class="mr-1"
      height="12"
    />
    <span class="align-middle"> French </span>
  </a>

  <!-- item-->
  <a href="javascript:void(0);" class="dropdown-item notify-item">
    <img
      src="/images/flags/spain_flag.jpg"
      alt="user-image"
      class="mr-1"
      height="12"
    />
    <span class="align-middle"> Spanish </span>
  </a>

  <!-- item-->
  <a href="javascript:void(0);" class="dropdown-item notify-item">
    <img
      src="/images/flags/russia_flag.jpg"
      alt="user-image"
      class="mr-1"
      height="12"
    />
    <span class="align-middle"> Russian </span>
  </a>
</div>