<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Hoa Than Son</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta content="VN stock market information" name="description" />
    <!--meta content="Themesbrand" name="author" /-->
    <link rel="shortcut icon" href="/images/favicon.ico" />
    
    <meta property="og:title" content="Hoa Than Son"/>
    <meta property="og:description" content="VN stock market information"/>
    
    <meta property="og:image" content="http://www.hoathanson.com/public/images/htson-lg.png"/>
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="560" />
    
    <meta property="og:url" content="http://www.hoathanson.com"/>
    <meta property="og:site_name" content="Hoa Than Son"/>
    <meta property="og:type" content="website"/>

    <link href="/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css"/>
    <link href="/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/libs/toastr/toastr.min.css">
    <% thisYear = (new Date).getFullYear() %>
    <body>
      <%-body%>
    </body>

    <script src="/libs/jquery/dist/jquery.min.js"></script>
    <script src="/libs/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/libs/toastr/toastr.min.js"></script>
    <%-customScripts%>
    <script>
      var success = $('#flashSuccess').text();
      var error = $('#flashError').text();
      if (success) { toastr.success(success); }
      if (error) { toastr.error(error); }
    </script>
  </head>
</html>