<table class="table table-bordered table-sm mb-0 text-center table-striped" id="dataTable" style="width:100%">
  <thead>
    <th>DATE</th>
    <th>TICKER</th>
    <th>SIGNAL</th>
    <th>%</th>
  </thead>
  <tbody></tbody>
</table>
<%- contentFor('customScripts') %>
<script src="/js/market.js"></script>
<script>
  var datatable = 
  $('#dataTable').DataTable({
    aaSorting: [],
    ajax: `/api/markets/m35`,
    pageLength: 15,
    bLengthChange: false,
    scrollX: true,
    scrollCollapse: true,
    dom: 'Bfrtip',
    buttons: ['copy', 'excel', 'csv', 'pdf', 'print'],
    columns: [ 
      { data: 'DATE', render (data) {
          var date = new Date(data);
          var dateString = date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDate();
          return dateString;
        }},
      { data : "TICKER", render: function (data) {
        var htmlString = `<a href="/summary/${data}" target="_blank">${data}</a>`
        return htmlString;
      }},
      { data: 'xstatus' },
      { data: 'percentage' , render: function (data){ return (+data).toFixed(2)+'%';}},
    ]
  });
</script>